#nav,#nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#nav {
    background: url('menu_bg.png') no-repeat scroll 0 0 ;
    clear: both;
    font-size: 12px;
    height: 58px;
    padding: 0 0 0 9px;
    position: relative;
    width: 957px;
}
#nav ul {
    background-color: #ACF502;
    border:1px solid #222;
    border-radius: 5px 5px 5px 5px;
    border-width: 0 1px 1px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    z-index: 2;

    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);

    /*-moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

    -moz-transition: -moz-transform 0.1s linear;
    -ms-transition: -ms-transform 0.1s linear;
    -o-transition: -o-transform 0.1s linear;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition: transform 0.1s linear;*/
}
#nav li {
    background: url('menu_line.png') no-repeat scroll right 7px transparent;
    float: left;
    position: relative;
}
#nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: normal;
    height: 30px;
    padding: 23px 20px 0;
    position: relative;
    text-decoration:none;
   content:open-quote;
  table-layout:auto;
   
    text-shadow: 1px 1px 1px #000000;
}

#nav li:hover > a {
    color: #00B4FF;
}
#nav li:hover, #nav a:focus, #nav a:hover, #nav a:active {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}
#nav li:hover ul.subs {
    left: 0;
    top: 20px;
    width: 200px;

    -moz-transform: scaleY(3);
    -ms-transform: scaleY(3);
    -o-transform: scaleY(3);
    -webkit-transform: scaleY(3);
    transform: scaleY(3);
}
#nav ul li {
    background: none;
    width: 100%;
}
#nav ul li a {
    float: none;
}
#nav ul li:hover > a {
    background-color: #121212;
    color: #00B4FF;
}
#lavalamp {
    background: url('lavalamp.png') no-repeat scroll 0 0 transparent;
    height: 16px;
    left: 15px;
    position: absolute;
    top: 0px;
    width: 64px;

    -moz-transition: all 3000ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 3000ms ease;
    transition: all 300ms ease;
}
#lavalamp:hover {
    -moz-transition-duration: 3000s;
    -ms-transition-duration: 3000s;
    -o-transition-duration: 3000s;
    -webkit-transition-duration: 3000s;
    transition-duration: 3000s;
}

#nav li:nth-of-type(1):hover ~ #lavalamp {
    left: 13px;
}
#nav li:nth-of-type(2):hover ~ #lavalamp {
    left: 200px;
}
#nav li:nth-of-type(3):hover ~ #lavalamp {
    left: 350px;
}
#nav li:nth-of-type(4):hover ~ #lavalamp {
    left: 510px;
}
#nav li:nth-of-type(5):hover ~ #lavalamp {
    left: 645px;
}
#nav li:nth-of-type(6):hover ~ #lavalamp {
    left: 730px;
}
#nav li:nth-of-type(7):hover ~ #lavalamp {
    left: 838px;
}
#nav li:nth-of-type(8):hover ~ #lavalamp {
    left: 565px;
}
.content { 
  text-align: left;
  width: 600px;
  margin: 20px 300px 300px 150px;
  float: left;
  font-color:#123456	;
  font-size: 110%;
  padding: 25px 0 0 0;
  
}
  
.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../image/accept.png) no-repeat;
  margin: 0 20px 30px 0; 
  padding: 0 0 4px 28px;
  line-height: 1.7em;
}
.sidebar {
	float: right;
	
}
ul{
	width:330px;
	height:auto;
	
	top:10px;
	background: rgba(0,255,0,0.1);
	border-radius: 0px 30px 0px 30px;
	outline-width: thick;
}
